* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: auto;
}

.description {
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7777;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 186px;
    height: 68px;
    border-radius: 14px;
    border: none;
    background: #1EBFC1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.heading {
    margin-top: 18px;
    color: #0D1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16229;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33333;
}


.title {
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 6px;
}

/* Header */
.header {
    background: #fff;
    z-index: 1;
}

.header.sticky {
    position: sticky;
    top: -40px;
}

.header .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0 12px;
}

.header .body ul {
    display: flex;
}

.header .body li {
    flex-shrink: 0;
}

.header .nav a {
    display: inline-block;
    padding: 12px 20px;
    color: #2F3A3B;
    font-weight: 400;
}



.header .nav a:not(.active):hover {
    /* text-shadow: 1px 0 0 currentColor; */
    font-weight: 600;
}

.header .nav a::before {
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.header .nav a.active {
    font-weight: 600;
}

.header .login a {
    display: inline-block;
    padding: 12px 24px;
    color: #494949;
    text-align: center;
    font-weight: 400;
}

.header .login a::before {
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.header .login a:hover {
    color: #1EBFC1;
    font-weight: 600;
}

.header .login a.active {
    border-radius: 6px;
    border: 1px solid #1EBFC1;
    color: #1EBFC1;
    font-weight: 600;
}

/* Hero */
.hero {
    padding: 38px 0 80px;
}

.hero .body {
    display: flex;
}

.hero-content {
    margin-top: 117px;
}

.hero-content .intro {
    color: #767E7E;
    font-size: 1.4rem;
    font-weight: 400;
}


.hero-content .desc {
    max-width: 374px;
    margin-top: 46px;
    color: #9DA6A5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7778;
}

.hero-content .cta-group {
    display: flex;
    align-items: center;
    gap: 0 50px;
    margin-top: 52px;
}

.hero-content .cta-group .btn-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    background: #fff;
    cursor: pointer;
}

.hero-content .cta-group .btn-video:hover {
    box-shadow: 0 0 12px 11px rgba(0, 0, 0, 0.075);
    transition: all ease 0.4s;
}

.hero-media {
    position: relative;
}

.hero-media img {
    display: block;
}

.hero-media-stats {
    position: absolute;
    top: 149px;
    left: -40px;
    display: flex;
    align-items: center;
    padding: 17px 25px;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media-stats .stats-course {
    position: relative;
}

.hero-media-stats .stats-course::before {
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 8px;
    height: 4px;
    border-radius: 2px;
    content: "";
    display: block;
    background: #fff;
}

.hero-media-stats .stats-val {
    max-width: 55px;
    margin-left: 16px;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero-media-schedule {
    position: absolute;
    left: -65px;
    bottom: 46px;
    width: 124px;
    padding: 16px 25px 23px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media-schedule .header {
    color: #0D1111;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.hero-media-schedule .progress {
    margin-top: 16px;
}

.hero-media-schedule .progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px 0;
}

.hero-media-schedule .progress .bar {
    width: 74px;
    background: #EDF1F5;
    height: 6px;
    border-radius: 3px;
}

.hero-media-schedule .progress .bar:nth-of-type(4) {
    width: 26px;
}

.hero-media-schedule .bar .progress-bar {
    height: 100%;
    background: #FB9899;
    border-radius: 3px;
}

.hero-media-schedule .bar:nth-of-type(1) .progress-bar {
    width: 39px;
}

.hero-media-schedule .bar:nth-of-type(2) .progress-bar {
    width: 51px;
}

.hero-media-schedule .bar:nth-of-type(3) .progress-bar {
    width: 33px;
}

.hero-media-people {
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media-people .people-title {
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero-media-people .people-list {
    display: flex;
    margin-top: 8px;
}


.hero-media-people .people-list .people-item {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.hero-media-people .people-list .people-item+.people-item {
    margin-left: -7px;
}

.hero-media-people .people-list .people-item:last-child {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1EBFC1;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
}

/* Features */
.feature {
    margin-top: 80px;
    padding: 50px 0 60px;

}

.feature .heading.lv2 {
    width: 577px;
}

.feature .description {
    margin-top: 18px;
    width: 590px;
}

.feature .feature-list {
    margin-top: 80px;

}

.feature .body {
    width: 1024px;
}

.feature .feature-list {
    display: flex;
}

.feature .feature-list .thumb {
    width: 102px;
    height: 106px;
    object-fit: cover;
}

.feature-item:first-child {
    width: 168px;
}

.feature-item:nth-child(2) {
    width: 223px;
    margin-left: 209px;
}

.feature-item:last-child {
    width: 224px;
    margin-left: auto;
}

.feature-item .feature-title {
    margin-top: 26px;
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
}

.feature-item .desc {
    margin-top: 16px;
    color: #9DA6A5;
    font-weight: 400;
    line-height: 1.6875;
}

/* Courses */
.course .intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;
}

.course .intro .description {
    max-width: 525px;
}

.course .intro .coures-view {
    color: #1EBFC1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.course {
    margin-top: 20px;
    padding: 50px 0 60px;
}

.course-list {
    display: flex;
    gap: 47px;
    margin-top: 79px;
}

.course-item {
    position: relative;
    width: calc(33.33% - calc(74px / 3));
    height: 517px;
}

.course-item .infor {
    display: flex;

}

.course-item .infor span {
    display: flex;
    align-items: center;
}

.course-item .infor span+span {
    margin-left: 10px;
}

.course-item .infor span::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border-radius: 50%;
    background: #1EBFC1;
}

.course-item .thumb {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
}

.course-item .thumb:hover {
    opacity: 0.8;
}

.course-item .content {
    position: absolute;
    bottom: 0px;
    left: 17px;
    width: 325px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.1);

}

.course-item .course-title {
    color: #0D1111;
    font-size: 2.2rem;
    ;
    font-weight: 700;
}

.course-item .fee {
    margin-top: 16px;
    color: #767E7E;
    font-weight: 400;
    line-height: 1.375;
}

.course-item .fee strong {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.course-item .course-desc {
    margin-top: 6px;
    color: #9DA6A5;
    font-size: 1.4rem;
    font-weight: 400;
}

.course-item .infor {
    margin-top: 18px;
    color: #9DA6A5;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Stats */
.stats {
    display: flex;
    justify-content: space-between;
    width: 862px;
    margin: 155px auto 0;
    padding: 50px 0 60px;
}

.stats .infor .stats-num {
    color: #0D1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}

.stats .infor .desc {
    margin-top: 11px;
    color: #767E7E;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

/* Feedback */
.feedback {
    margin-top: 155px;
    padding: 50px 0 60px;
}

.feedback .body {
    display: flex;
    justify-content: space-between;
}

.feedback-content {
    width: 36%;
}

.feedback-content .open-quote {
    margin-top: 37px;
    width: 36px;
    height: 29px;
    object-fit: cover;
}

.feedback-content .quote {
    margin-top: 27px;
    color: #5D6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
    font-style: italic;
}

.feedback-content .infor {
    display: flex;
    align-items: center;
    margin-top: 33px;
    color: #767E7E;
    font-weight: 400;
}

.feedback-content .infor::before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 2px;
    margin-right: 5px;
    background: #070707;
}

.feedback-content .infor .author {
    color: #070707;
    font-weight: 500;
}

.feedback-content .controls {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.feedback-content .controls .chevrons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #2AC9BF;
}

.feedback-content .controls .chevrons:hover {
    opacity: 0.9;
    cursor: pointer;
}

.feedback-content .controls .chevrons+.chevrons {
    margin-left: 30px;
}

.feedback-images {
    position: relative;
    width: 58%;
    height: 481px;
}

.feedback-images-item {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.feedback-images-item:nth-of-type(1) {
    position: absolute;
    top: 258px;
    left: 0;
    width: 78px;
    height: 78px;
}

.feedback-images-item:nth-of-type(2) {
    position: absolute;
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
}

.feedback-images-item:nth-of-type(3) {
    position: absolute;
    top: 107px;
    left: 273px;
    width: 235px;
    height: 235px;
}

.feedback-images-item:nth-of-type(4) {
    position: absolute;
    top: 0;
    left: 144px;
    width: 92px;
    height: 92px;
}

.feedback-images-item:nth-of-type(5) {
    position: absolute;
    bottom: 0;
    left: 212px;
    width: 78px;
    height: 78px;
}

.feedback-images-item:nth-of-type(6) {
    position: absolute;
    right: 32px;
    bottom: 29px;
    width: 78px;
    height: 78px;
}

/* Experiment */
.experiment {
    padding: 76px 0 88px;
    background: #DEF6F5;
}

.experiment .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1016px;
}

.experiment .desc {
    margin-top: 18px;
}

/* Footer */
.footer {
    padding: 135px 0 50px;
}

.footer .body .row {
    display: flex;
    padding-bottom: 24px;
}

.footer .footer-logo {
    width: 23%;
}

.footer .company {
    width: 20%;
}

.footer .community {
    width: 22%;
}

.footer .teaching {
    width: 25%;
}

.footer .footer-heading {
    color: #2E2E2E;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer ul {
    margin-top: 8px;
}

.footer a {
    display: inline-block;
    margin-top: 20px;
    color: #535353;
    font-weight: 400;
}

.footer a:hover {
    text-decoration: underline solid 1px #000;
}

.footer .socials .socials-item {
    /* display: flex;
    align-items: center; */
    margin-top: 18px;
    color: #535353;
    font-weight: 400;
}

.socials-icon-wrap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 9px;
    border-radius: 50%;
}

.footer .copy-right {
    margin-top: 56px;
    color: #B0B5B4;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}